<div *ngIf="isLoading">Loading...</div>
<input type="text" [(ngModel)]="searchTerm" placeholder="Search stories..." (input)="onSearch()" />
<div *ngIf="searchTerm && stories.length === 0">No stories found for "{{ searchTerm }}"</div>
<div  *ngIf="!isLoading">
    <ul *ngFor="let story of stories">
        <li>
            {{story.id}} : <a [href]="story.url" target="_blank">{{ story.title }}</a>
        </li>
    </ul>

    <div class="pagination">
        <button (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber <= 1">prev</button>
        <span>Page {{ pageNumber }} of {{ totalPages }}</span>
        <button (click)="onPageChange(pageNumber + 1)" [disabled]="pageNumber >= totalPages">next</button>
    </div>
</div>